@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");
@media all and (max-width: 991px), all and (orientation:portrait){
    @include aoa-bg-series($img__classes--v,$img__aoa--v,0,"center","cover","scroll");   
    .academy{
        &-s1{
            background-position-y: 60%!important;
            background-blend-mode: overlay;
            background-color: #bbb;
        }
        &-s2{
            background-position-y: 70%!important;
            background-blend-mode: overlay;
            background-color: #bbb;
        }
    }
    .contact{
        &-s2{            
            background-blend-mode: overlay;
            background-color: #ccc!important;
        }
    }
}
*{
    font-family: "Nunito";
}
.bg{
    &-violet{
        background-color: $color__violet--dark!important;
    }
}
.border{
    &-violet{
        border-color: $color__violet--dark!important;
    }
}
.comingsoon{
    &-s1{
        background-position-x: 15%!important;
    }
}
.dance{
    &-s1{
        background-position-y: bottom!important;
    }
}
.error{
    &-s1{
        background-position-x: 70%!important;
    }
}
.info{
    &-s1{
        background-position-y: 80%!important;
    }
}
.navbar{
    &-logo{
        height: $logo__height;
    }
}
.privacy{
    &-s1{
        background-position-x: right!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
    &-violet{
        color: $color__violet--dark!important;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width:767px){
    .navbar{
        &-nav{
            backdrop-filter: blur(5px); 
            background-color: #fff;
            border: 1px solid #999;
            opacity: 0.9;
            padding: 10px;
        }
    }
}