$prefix: "../";
$color__violet--dark: #3a192b;
$footer-height: 33px;
$img__academy: 
    $prefix+"img/academy/academy-s1.jpg",
    $prefix+"img/academy/academy-s2.jpg";
$img__academy--v: 
    $prefix+"img/academy/academy-s1v.jpg",
    $prefix+"img/academy/academy-s2v.jpg";
$img__comingsoon: $prefix+"img/comingsoon.jpg";
$img__contact: 
    "",
    $prefix+"img/contact/contact-s2.jpg";
$img__contact--v: 
    "",
    $prefix+"img/contact/contact-s2v.jpg";
$img__dance: 
    $prefix+"img/dance/dance-s1.jpg";
$img__dance--v: 
    $prefix+"img/dance/dance-s1v.jpg";
$img__error: $prefix+"img/error.jpg";
$img__index: $prefix+"img/index/index-s1.jpg";
$img__index--v: $prefix+"img/index/index-s1v.jpg";
$img__info: $prefix+"img/info/info-s1.jpg";
$img__privacy: $prefix+"img/privacy.jpg";
$img__aoa:
    $img__academy,
    $img__comingsoon,
    $img__contact,
    $img__dance,
    $img__error,
    $img__index,
    $img__info,
    $img__privacy;
$img__aoa--v:
    $img__academy--v,
    $img__contact--v,
    $img__dance--v,
    $img__index--v;
$img__classes:
    "academy",
    "comingsoon",
    "contact",
    "dance",
    "error",
    "index",
    "info",
    "privacy";
$img__classes--v:
    "academy",
    "contact",
    "dance",
    "index";
$logo__height: 40px;
$text__shadow: 1px 1px 3px #333;